arch-be-ejb-uploadMulticanale-sign-infocert-wsclient/src/main/resources/wsdl/infocert.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="firmaWSService" targetNamespace="http://firma.webservice.ncfr.infocert.it/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://firma.webservice.ncfr.infocert.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xs:schema targetNamespace="http://firma.webservice.ncfr.infocert.it/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="FirmaWSException" type="tns:FirmaWSException"/>
      <xs:element name="firmaCADES" type="tns:firmaCADES"/>
      <xs:element name="firmaCADESResponse" type="tns:firmaCADESResponse"/>
      <xs:element name="firmaPADES" type="tns:firmaPADES"/>
      <xs:element name="firmaPADESResponse" type="tns:firmaPADESResponse"/>
      <xs:complexType name="firmaCADES">
        <xs:sequence>
          <xs:element minOccurs="0" name="documentoDaFirmare" type="xs:string"/>
          <xs:element minOccurs="0" name="dominio" type="xs:string"/>
          <xs:element minOccurs="0" name="alias" type="xs:string"/>
          <xs:element minOccurs="0" name="pin" type="xs:string"/>
          <xs:element minOccurs="0" name="otp" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="firmaCADESResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FirmaWSException">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string"/>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="firmaPADES">
        <xs:sequence>
          <xs:element minOccurs="0" name="documentoDaFirmare" type="xs:string"/>
          <xs:element minOccurs="0" name="firmatari" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="firmaPADESResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="firmaWS_firmaPADESResponse">
    <part element="tns:firmaPADESResponse" name="firmaPADESResponse"/>
  </message>
  <message name="FirmaWSException">
    <part element="tns:FirmaWSException" name="FirmaWSException"/>
  </message>
  <message name="firmaWS_firmaCADESResponse">
    <part element="tns:firmaCADESResponse" name="firmaCADESResponse"/>
  </message>
  <message name="firmaWS_firmaCADES">
    <part element="tns:firmaCADES" name="firmaCADES"/>
  </message>
  <message name="firmaWS_firmaPADES">
    <part element="tns:firmaPADES" name="firmaPADES"/>
  </message>
  <portType name="firmaWS">
    <operation name="firmaCADES" parameterOrder="firmaCADES">
      <input message="tns:firmaWS_firmaCADES"/>
      <output message="tns:firmaWS_firmaCADESResponse"/>
      <fault message="tns:FirmaWSException" name="FirmaWSException"/>
    </operation>
    <operation name="firmaPADES" parameterOrder="firmaPADES">
      <input message="tns:firmaWS_firmaPADES"/>
      <output message="tns:firmaWS_firmaPADESResponse"/>
      <fault message="tns:FirmaWSException" name="FirmaWSException"/>
    </operation>
  </portType>
  <binding name="firmaWSBinding" type="tns:firmaWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="firmaCADES">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FirmaWSException">
        <soap:fault name="FirmaWSException" use="literal"/>
      </fault>
    </operation>
    <operation name="firmaPADES">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FirmaWSException">
        <soap:fault name="FirmaWSException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="firmaWSService">
    <port binding="tns:firmaWSBinding" name="firmaWSPort">
      <soap:address location="http://ncfrcl.infocert.it:52500/ncfr-webservice/FirmaWS"/>
    </port>
  </service>
</definitions>