arch-be-ejb-uploadMulticanale-wsclient/src/main/resources/wsdl/io.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Oracle JAX-WS 2.1.5. -->
<xs:schema xmlns:tns="http://common.schema.bmed.it/v1"
	xmlns:ns1="http://simpleType.common.schema.bmed.it/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" version="1.0"
	targetNamespace="http://common.schema.bmed.it/v1">

	<xs:import namespace="http://simpleType.common.schema.bmed.it/v1"
		schemaLocation="http://localhost:7771/UploadMulticanaleRemoteImpl/uploadMulticanaleBS?xsd=1" />

	<xs:complexType name="HeaderOutputType">
		<xs:sequence>
			<xs:element name="idOperazioneRichiesta" type="tns:IdOperazioneType" />
			<xs:element name="idConversazione" type="xs:string" />
			<xs:element name="canale" type="ns1:CanaleType" />
			<xs:element name="codiceOperazioneRisposta" type="xs:string"
				nillable="true" />
			<xs:element name="timeStamp" type="xs:long" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="IdOperazioneType">
		<xs:sequence>
			<xs:element name="codiceApplicazioneChiamante" type="xs:string" />
			<xs:element name="codiceOperazione" type="xs:string"
				nillable="true" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>