arch-be-ejb-uploadMulticanale-wsclient/src/main/resources/wsdl/uploadMulticanaleBS[2].xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://fault.common.schema.bmed.it/v1" xmlns:ns1="http://common.schema.bmed.it/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://fault.common.schema.bmed.it/v1">

<xs:import namespace="http://common.schema.bmed.it/v1" schemaLocation="http://172.16.72.101:7771/UploadMulticanaleRemoteImpl/uploadMulticanaleBS?xsd=3"/>

<xs:element name="BaseFaultType" nillable="true" type="tns:BaseFaultType"/>

<xs:complexType name="BaseFaultType">
<xs:sequence>
<xs:element name="testata" type="ns1:HeaderOutputType" form="qualified"/>
<xs:element name="codice" type="xs:string" form="qualified"/>
<xs:element name="messaggio" type="xs:string" form="qualified"/>
<xs:element name="layer" type="xs:string" form="qualified"/>
<xs:element name="technical" type="xs:boolean" form="qualified"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SystemFaultType">
<xs:complexContent>
<xs:extension base="tns:BaseFaultType">
<xs:sequence>
<xs:element name="technical" type="xs:boolean" form="qualified"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="BusinessFaultType">
<xs:complexContent>
<xs:extension base="tns:BaseFaultType">
<xs:sequence>
<xs:element name="technical" type="xs:boolean" form="qualified"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>