arch-be-ejb-uploadMulticanale-wsclient/src/main/resources/wsdl/uploadMulticanaleBS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://api.be.uploadMulticanale.arch.bmed.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://api.be.uploadMulticanale.arch.bmed.it/"
	name="uploadMulticanaleBS">
	<types>
		<xsd:schema xmlns:pref="http://simpleType.common.schema.bmed.it/v1">
			<xsd:import namespace="http://simpleType.common.schema.bmed.it/v1"
				schemaLocation="ChannelType.xsd" />
		</xsd:schema>
		<xsd:schema xmlns:pref="http://fault.common.schema.bmed.it/v1">
			<xsd:import namespace="http://fault.common.schema.bmed.it/v1"
				schemaLocation="FaultType.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://api.be.uploadMulticanale.arch.bmed.it/"
				schemaLocation="common.xsd" />
		</xsd:schema>
		<xsd:schema xmlns:pref="http://common.schema.bmed.it/v1">
			<xsd:import namespace="http://common.schema.bmed.it/v1"
				schemaLocation="io.xsd" />
		</xsd:schema>
	</types>
	<message name="moveFile">
		<part name="request" type="tns:moveRequest" />
	</message>
	<message name="moveFileResponse">
		<part name="response" type="tns:moveResponse" />
	</message>
	<message name="Exception">
		<part name="fault" element="tns:Exception" />
	</message>
	<message name="insertMedia">
		<part name="request" type="tns:ecmRequest" />
	</message>
	<message name="insertMediaResponse">
		<part name="response" type="tns:ecmResponse" />
	</message>
	<message name="SystemFault">
		<part xmlns:ns1="http://fault.common.schema.bmed.it/v1" name="fault"
			element="ns1:BaseFaultType" />
	</message>
	<message name="listMedia">
		<part name="request" type="tns:ecmRequest" />
	</message>
	<message name="listMediaResponse">
		<part name="response" type="tns:ecmResponse" />
	</message>
	<message name="updateMedia">
		<part name="request" type="tns:updateECMRequest" />
	</message>
	<message name="updateMediaResponse">
		<part name="response" type="xsd:boolean" />
	</message>
	<message name="deleteFileNAS">
		<part name="request" type="tns:ecmRequest" />
	</message>
	<message name="deleteFileNASResponse">
		<part name="response" type="xsd:boolean" />
	</message>
	<message name="deleteFileECM">
		<part name="request" type="tns:ecmRequest" />
	</message>
	<message name="deleteFileECMResponse">
		<part name="response" type="xsd:boolean" />
	</message>
	<message name="getAzureToken">
		<part name="request" type="tns:azureRequest" />
	</message>
	<message name="getAzureTokenResponse">
		<part name="response" type="tns:azureResponse" />
	</message>
	<message name="convertToPDF">
		<part name="request" type="tns:ecmConvertRequest" />
	</message>
	<message name="convertToPDFResponse">
		<part name="response" type="tns:ecmResponse" />
	</message>
	<portType name="UploadMulticanaleRemote">
		<operation name="moveFile">
			<input message="tns:moveFile" />
			<output message="tns:moveFileResponse" />
			<fault message="tns:Exception" name="Exception" />
		</operation>
		<operation name="insertMedia">
			<input message="tns:insertMedia" />
			<output message="tns:insertMediaResponse" />
			<fault message="tns:SystemFault" name="SystemFault" />
			<fault message="tns:Exception" name="Exception" />
		</operation>
		<operation name="listMedia">
			<input message="tns:listMedia" />
			<output message="tns:listMediaResponse" />
			<fault message="tns:SystemFault" name="SystemFault" />
			<fault message="tns:Exception" name="Exception" />
		</operation>
		<operation name="updateMedia">
			<input message="tns:updateMedia" />
			<output message="tns:updateMediaResponse" />
			<fault message="tns:SystemFault" name="SystemFault" />
			<fault message="tns:Exception" name="Exception" />
		</operation>
		<operation name="deleteFileNAS">
			<input message="tns:deleteFileNAS" />
			<output message="tns:deleteFileNASResponse" />
			<fault message="tns:Exception" name="Exception" />
		</operation>
		<operation name="deleteFileECM">
			<input message="tns:deleteFileECM" />
			<output message="tns:deleteFileECMResponse" />
			<fault message="tns:Exception" name="Exception" />
		</operation>
		<operation name="getAzureToken">
			<input message="tns:getAzureToken" />
			<output message="tns:getAzureTokenResponse" />
			<fault message="tns:Exception" name="Exception" />
		</operation>
		<operation name="convertToPDF">
			<input message="tns:convertToPDF" />
			<output message="tns:convertToPDFResponse" />
			<fault message="tns:Exception" name="Exception" />
		</operation>
	</portType>
	<binding name="uploadMulticanaleBSBinding" type="tns:UploadMulticanaleRemote">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="rpc" />
		<operation name="moveFile">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal"
					namespace="http://api.be.uploadMulticanale.arch.bmed.it/" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://api.be.uploadMulticanale.arch.bmed.it/" />
			</output>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</fault>
		</operation>
		<operation name="insertMedia">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal"
					namespace="http://api.be.uploadMulticanale.arch.bmed.it/" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://api.be.uploadMulticanale.arch.bmed.it/" />
			</output>
			<fault name="SystemFault">
				<soap:fault name="SystemFault" use="literal" />
			</fault>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</fault>
		</operation>
		<operation name="listMedia">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal"
					namespace="http://api.be.uploadMulticanale.arch.bmed.it/" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://api.be.uploadMulticanale.arch.bmed.it/" />
			</output>
			<fault name="SystemFault">
				<soap:fault name="SystemFault" use="literal" />
			</fault>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</fault>
		</operation>
		<operation name="updateMedia">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal"
					namespace="http://api.be.uploadMulticanale.arch.bmed.it/" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://api.be.uploadMulticanale.arch.bmed.it/" />
			</output>
			<fault name="SystemFault">
				<soap:fault name="SystemFault" use="literal" />
			</fault>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</fault>
		</operation>
		<operation name="deleteFileNAS">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal"
					namespace="http://api.be.uploadMulticanale.arch.bmed.it/" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://api.be.uploadMulticanale.arch.bmed.it/" />
			</output>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</fault>
		</operation>
		<operation name="deleteFileECM">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal"
					namespace="http://api.be.uploadMulticanale.arch.bmed.it/" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://api.be.uploadMulticanale.arch.bmed.it/" />
			</output>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</fault>
		</operation>
		<operation name="getAzureToken">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal"
					namespace="http://api.be.uploadMulticanale.arch.bmed.it/" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://api.be.uploadMulticanale.arch.bmed.it/" />
			</output>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</fault>
		</operation>
		<operation name="convertToPDF">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal"
					namespace="http://api.be.uploadMulticanale.arch.bmed.it/" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://api.be.uploadMulticanale.arch.bmed.it/" />
			</output>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="uploadMulticanaleBS">
		<port name="uploadMulticanaleBS" binding="tns:uploadMulticanaleBSBinding">
			<soap:address
				location="http://172.16.72.101:7771/UploadMulticanaleRemoteImpl/uploadMulticanaleBS" />
		</port>
	</service>
</definitions>