arch-be-ejb-uploadMulticanale-sign-wsclient/src/main/resources/wsdl/FirmaDigitaleSignatureService_WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="firmaWSService" targetNamespace="http://firma.webservice.ncfr.infocert.it/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://firma.webservice.ncfr.infocert.it/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://firma.webservice.ncfr.infocert.it/" version="1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://firma.webservice.ncfr.infocert.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="FirmaWSException" type="tns:FirmaWSException"/>
      <xsd:element name="firmaCADES" type="tns:firmaCADES"/>
      <xsd:element name="firmaCADESResponse" type="tns:firmaCADESResponse"/>
      <xsd:element name="firmaPADES" type="tns:firmaPADES"/>
      <xsd:element name="firmaPADESResponse" type="tns:firmaPADESResponse"/>
      <xsd:complexType name="firmaCADES">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="documentoDaFirmare" type="xs:string"/>
          <xsd:element minOccurs="0" name="dominio" type="xs:string"/>
          <xsd:element minOccurs="0" name="alias" type="xs:string"/>
          <xsd:element minOccurs="0" name="pin" type="xs:string"/>
          <xsd:element minOccurs="0" name="otp" type="xs:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="firmaCADESResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xs:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FirmaWSException">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="code" type="xs:string"/>
          <xsd:element minOccurs="0" name="message" type="xs:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="firmaPADES">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="documentoDaFirmare" type="xs:string"/>
          <xsd:element minOccurs="0" name="firmatari" type="xs:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="firmaPADESResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xs:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="firmaWS_firmaPADESResponse">
    <WL5G3N0:part element="WL5G3N1:firmaPADESResponse" name="firmaPADESResponse"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FirmaWSException">
    <WL5G3N0:part element="WL5G3N1:FirmaWSException" name="FirmaWSException"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="firmaWS_firmaCADESResponse">
    <WL5G3N0:part element="WL5G3N1:firmaCADESResponse" name="firmaCADESResponse"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="firmaWS_firmaCADES">
    <WL5G3N0:part element="WL5G3N1:firmaCADES" name="firmaCADES"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="firmaWS_firmaPADES">
    <WL5G3N0:part element="WL5G3N1:firmaPADES" name="firmaPADES"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="firmaWS">
    <WL5G3N0:operation name="firmaCADES" parameterOrder="firmaCADES">
      <WL5G3N0:input message="WL5G3N1:firmaWS_firmaCADES"/>
      <WL5G3N0:output message="WL5G3N1:firmaWS_firmaCADESResponse"/>
      <WL5G3N0:fault message="WL5G3N1:FirmaWSException" name="FirmaWSException"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="firmaPADES" parameterOrder="firmaPADES">
      <WL5G3N0:input message="WL5G3N1:firmaWS_firmaPADES"/>
      <WL5G3N0:output message="WL5G3N1:firmaWS_firmaPADESResponse"/>
      <WL5G3N0:fault message="WL5G3N1:FirmaWSException" name="FirmaWSException"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="firmaWSBinding" type="WL5G3N1:firmaWS">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="firmaCADES">
      <WL5G3N2:operation/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="FirmaWSException">
        <WL5G3N2:fault name="FirmaWSException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="firmaPADES">
      <WL5G3N2:operation/>
      <WL5G3N0:input>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="FirmaWSException">
        <WL5G3N2:fault name="FirmaWSException" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="firmaWSService">
    <WL5G3N0:port binding="WL5G3N1:firmaWSBinding" name="firmaWSPort">
      <WL5G3N2:address location="https://lxosb701.gbm.lan:8002/FirmaDigitale/SignatureService_RDV"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>